@page "/"
@page "/pomodoro"
@using PomodoroFocus.Web.Components.Timer

<PageTitle>Pomodoro Timer</PageTitle>

<div class="pomodoro-page-container">
    <div class="pomodoro-card">
        <h1 class="text-center">Pomodoro Focus</h1>
        <TimerDisplay />
    </div>
</div>


