## Visual Studio temporary files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/

## .NET artifacts
*.dll
*.pdb
*.wasm
*.gz

## NuGet
*.nupkg
**/packages/*
project.lock.json
artifacts/
